# --- local generated data ---
img/
dev/

static/out/
static/uploads/
static/snapshots/

# --- environment variables ---
.env

instance/


# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/

# --- IDE / OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- logs / temp ---
*.log
*.tmp
